* {
   margin: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Nunito Sans', sans-serif;
   line-height: 1.5;
   overflow-x: hidden;
}

#welcome{
   text-align: center;
   padding: 100px 10%;
}

#what-we-do-wifeframe{
   text-align: center;
}

.container1{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 15px;
   padding: 50px;
}


#header{
   width: 100%;
   height: 100vh;
   background-image: url("../img/1.jpg");
}

.item{
   width: 25%;
   margin-bottom: 10vh;
}
.picdog{
   border-radius: 50%;
   transition: all 1s;
}

#headeer-wireframe
{
   text-align: center;
   color: white;
}

#dadlogonav{
   display: flex;
   text-align: left;
}

#logo{
   width: 60%;
   margin-left: 50px;
   margin-top: 20px;
}

.navorder{
   padding: 10px;
   color: white;
   text-decoration: none;
   margin-left: 25px;
   border-radius: 5px;
}

.navorder:hover{
   background-color: white;
   color: black;
}

#nav{
   width: 50%;
   margin-top: 40px;
}

#navhome{
   background-color: white;
   color: black;
   padding: 10px;
   border-radius: 5px;
   text-decoration: none;
}

#main-header{
   width: 60%;
   margin-top: 190px;
   margin-left: 330px;
}

#mainhd1{
   font-size: 40px;
}

#mainhd2{
   letter-spacing: 1px;
   padding: 20px 186px;
}

#label-list{
   margin-top: 80px;
   margin-left: 70px;
   cursor: pointer;
}

#label-list a{
   font-size: 20px;
   padding: 20px 10px;
   border: 2px white solid;
   border-radius: 5px;
}

#imgwelcome{
   width: 100%;
}

#pwelcome{
   margin: 50px 10%;
}

#h3welcome{
   font-size: 50px;
}

#h3wwd{
   font-size: 40px;
   margin: 50px;
}

.h3picdog{
   margin: 20px;
}

.ppicdog{
   padding: 20px 17%;
}

.st-wireframe{
   width: 100vw;
   height: 30vw;
   background-image: url("../img/bg.jpg");
   text-align: center;
   padding: 50px;
}

#st-container{
   display: flex;
   width: 90%;
   justify-content: space-around;
   height: 200px;
   align-items: flex-end;

}

.const{
   width: 25%;
}

#sth2{
   margin-top: 30px;
   margin-bottom: 50px;
}

.h3sonst{
   font-size: 70px;
   color: #fff;
}

.psonst{
   letter-spacing: 1px;
   color: #fff;
}

#h2sth2{
   font-size: 50px;
   color: #fff;
}

.services-wireframe{
   padding: 100px;
   display: flex;
   text-align: center;
}

#left{
   width: 30%;
}

#right{
   width: 70%;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 50% 50%;
   text-align: center;
   gap: 15px;
}
.sonright{
   width: 100%;
   padding: 70px;
   border: 2px gray solid;
   border-radius: 10px;
}

.sonright:hover{
   background-color: tomato;
   transition: 0.7s;
}

#left{
   width: 30%;
   padding: 0px 50px;
}

.h3left{
   text-align: left;
   margin-bottom: 20px;
   font-size: 35px;
}

.p1left{
   line-height: 2.5;
   text-align: left;
   letter-spacing: 1px;
   margin-bottom: 10px;
   color: #999;
}

.p2left{
   line-height: 2.5;
   text-align: left;
   letter-spacing: 1px;
   color: #999;
}

.section6{
   background-image: url("../img/bg.jpg");
   width: 100vw;
   height: 40vw;
   text-align: center;
   color: white;
   padding: 50px;
}

.sonsection6{
   display: flex;
   text-align: center;
   margin: 0px 5%;
   flex-wrap: nowrap;
}
.sons61{
   width: 33%;
   padding: 20px;
}

.h3--big{
   margin-bottom: 50px;
   font-size: 50px;
}

.psons6{
   font-size: 20px;
   letter-spacing: 1px;
   line-height: 2;
}

.img--radius{
   margin:20px 0px;
}

.img--avatar{
   border-radius: 50%;
}

.h3--small{
   text-align: right;
   color: #ff9900;
}

.section7{
   text-align: center;
   padding: 5%;
}

.sons7{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-around;
}

.divs7{
   width: 30%;
   text-align: left;
}

.divs7--2{
   border: 1px gray solid;
   padding: 20px;
   border-radius: 5px;
}

.divs7--small{
   margin-top: -8px ;
   border: 1px gray solid;
   padding: 10px;
   border-radius: 5px;
}

.imgsmall7{
   width: 100%;
   border-radius: 5px;
}

.h3s7{
   margin-bottom: 30px;

   font-size: 40px;
}

.as7{
   color: black;
   text-decoration: none;
   font-size: 20px;
   display: block;
   transition: 0.3s;
}

.as7:hover{
   color: #ff9900;
}
.as7--btn{
   font-size: 15px;
   color: #ff9900;
}

.ps7{
   margin: 20px 0px;
}

.ps72{
   color: #ff9900;
}

iframe{
   width: 100vw;
   height:30vw;
}

.section9{
   padding: 40px 150px;
}

.sons9{
   display: flex;
   justify-content: space-around;
}

.divs91{
   width: 40%;
}

.divs92{
   width: 50%;
}

.divs92--small{
   display: flex;
   margin-bottom: 20px;
}
.icon{
   width: 20%;
   font-size: 30px;
}

.h3ts9{
   margin-bottom: 15px;
   font-size: 30px;
}

.pts9{
   letter-spacing: 1px;
   color: #999;
}
.h3s91{
   text-align: center;
   margin-bottom: 30px;
   font-size: 40px;
}

.divs92{
   padding: 20px;
   text-align: center;
}

.h3s92{
   margin-bottom: 20px;
   font-size: 30px;
   color: #ff9900;
}

.group{
   margin-bottom: 20px;
}

.forminput{
   width: 100%;
   height: 50px;
   padding: 15px;
   border-radius: 5px;
   border: none;
}

.forminput2{
height: 120px;
}

.divform{
   padding: 5%;
   background-color: #f7f7f7;
   border-radius: 3px;
}

.btnsubmit{
   width: 100%;
   height: 50px;
   background-color: #fdb54b;
   border: none;
   border-radius: 5px;
   font-size: 20px;
   color: white;
   cursor:alias;
   transition: 0.5s;
}

.btnsubmit:hover{
   background-color: #ff9900;
}

footer{
   padding: 60px 90px;
   background-color: #17181b;
   color: white;
   height: 500px;
}

.section10{
   display: flex;
   justify-content: space-around;
}

.sons10{
   width: 20%;
}

.h3s10{
   margin-bottom: 30px;
   font-size: 20px;
}

.ps10{
   color:#999;
   letter-spacing: 1px;
   margin-bottom: 15px;
}

.h4s10{
   margin-bottom: 10px;
}

.form2{
   width: 100%;
}

.divmail2{
   width: 70%;
   display: inline-block;
}

.divbtn2{
   width: 30%;
   display: inline-block;
}

.sonform2{
   width: 100%;
}

.mail2{
   width: 100%;
   height: 50px;
   border-radius: 4px;
}

.btn10{
   width: 100%;
   height: 50px;
   border: none;
   background-color: #c57600;
   color: white;
   transition: 0.5s;
}

.btn10:hover{
   background-color: #ff9900;
}

.form2{
   display: flex;
   margin-bottom: 20px;
}

.aicon{
   display:inline-block;
}

.aicon2{
   margin-left: 20px;
}

.icon2{
   color: white;
}

.sonicon2{
   font-size: 30px;
}

.picdog:hover{
   transform: rotateY(180deg);
}

@media screen and (max-width:992px)
{
   #header{
      width: 100vh;
      height: 100vh;
   }
}

.divs7:hover
{
   animation-name: Tung 2s;
}

@keyframes Tung{
   0% {
      transform: translate(0px,-20px);
   }

   25%{
      transform: translate(0px,0px);
   }

   50%{
      transform: translate(0px,-10px);
   }

   75% {
      transform: translate(0px,0px);
   }

   85%{
      transform: translate(0px,-5px);
   }

   100%{
      transform: translate(0px,0px);
   }
}

.icon4{
   font-size: 50px;
   margin-bottom: 20px;
}